<form method="post" action="{% url 'delete_view' employee.id %}" class="employee-delete-form" id='deleteEmployeeModal'>
  {% csrf_token %}
  <div class="modal-header">
    <h4 class="modal-title">Delete Employee Details</h4>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  </div>
  <div class="modal-body">
    Are you sure you want to delete?
  </div>
  <div class="modal-footer">
    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
    <input type="submit" class="btn btn-danger" value="Delete">
  </div>
</form>
